.wp-block-occ-carousel {
    margin-bottom: 2em;
    position: relative;
    .carousel-wrapper {
        position: relative;
    }
    .carousel-frame::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
    .carousel-frame::-webkit-scrollbar-track {
        -webkit-border-image: none !important;
        -webkit-border-radius: 0;
        background: #fff;
    }
    .carousel-frame::-webkit-scrollbar-thumb {
        -webkit-border-image: none !important;
        -webkit-border-radius: 0;
        background: #ddd;
    }
    .carousel-frame::-webkit-scrollbar-button {
        height: 8px;
        width: 8px;
        background: #ddd;
    }
    .carousel-frame {
        width: 100%;
        height: 100%;
        margin-bottom: 5px;
        padding-bottom: 15px;
        position: relative;
        overflow-x: scroll;
        white-space: nowrap;
        .carousel-items {
            margin: 0;
            padding: 0;
            height: 100%;
            list-style: none;
        }
        .carousel-item {
            display: inline-block;
            margin: 0 5px 0 0;
            padding: 0;
        }
        .carousel-item img {
            height: auto;
            max-width: none;
        }
    }
    .carousel-arrow {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        top: 0;
        height: calc(100% - 30px);
        width: 30%;
        transition: all 0.3s ease-out;
    }
    &:hover .carousel-arrow {
        opacity: 1;
    }
    .carousel-arrow.left {
        left: 0;
    }
    .carousel-arrow.right {
        right: 0;
    }
    .carousel-arrow .icon {
        position: absolute;
        display: flex;
        align-items: center;
        top: 45%;
        width: 55px;
        height: 55px;
        background: rgba(100, 100, 100, 0.3);
        fill: #fff;
        svg {
            width: 60%;
            height: 60%;
            margin: 0 auto;
        }
    }
    .carousel-arrow.left .icon {
        left: 0.5em;
    }
    .carousel-arrow.right .icon {
        right: 0.5em;
    }
    .carousel-caption {
        margin: 0.5em 0;
        font-size: 11px;
        line-height: 1.5;
    }
}
